<% include ../partials/header %>
	<div class="row">
		<div class="content-header clearfix">
			<h4 class="col-md-12">Adicionar item</h4>
		</div><!-- .content-header -->

		<div class="col-md-12">
			<form action="/item/novo" method="post">
				<div class="row">
					<div class="col-md-12">
						<p>Tipo</p>
						<div class="form-group">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-secondary btn-item-type <%= (! item.type || 'almoxarifado' === item.type) ? 'active' : '' %>">
									<input name="type" type="radio" value="almoxarifado" <%= (! item.type || 'almoxarifado' === item.type) ? 'checked="checked"' : '' %>>
									Almoxarifado
								</label>

								<label class="btn btn-secondary btn-item-type <%= ('achados_e_perdidos' === item.type) ? 'active' : '' %>">
									<input name="type" type="radio" value="achados_e_perdidos" <%= ('achados_e_perdidos' === item.type) ? 'checked="checked"' : '' %>>
									Achados e perdidos
								</label>
							</div><!-- .btn-group -->
						</div><!-- .form-group -->
					</div><!-- .col -->

					<div class="col-md-6">
						<div class="form-group">
							<p>Status</p>
							<% if ('object' !== typeof status) { %>
								<select id="item-status" class="form-control" name="status" disabled="disabled"></select>
							<% } else { %>
								<select id="item-status" class="form-control" name="status">
									<% for (var option in status) { %>
										<% if (! status.hasOwnProperty(option)) continue; %>
										<option value="<%= option %>" <%= (option === item.status) ? 'selected="selected"' : '' %>><%= status[option] %></option>
									<% } %>
								</select>
							<% } %>
						</div>
					</div><!-- .col -->
				</div><!-- .row -->

				<div class="form-group">
					<label for="description">Descrição</label>
					<input id="description" class="form-control" name="description" type="text" value="<%= item.description %>">
				</div>

				<div class="form-group">
					<label for="comment">Comentário</label>
					<textarea id="comment" class="form-control" name="comment" rows="3"><%= item.comment %></textarea>
				</div>

				<div class="form-group">
					<label for="amount">Quantidade</label>
					<input id="amount" class="form-control" name="amount" type="number" value="<%= ('undefined' !== typeof item.amount) ? item.amount : 1 %>" min="0">
				</div>

				<div class="form-group">
					<button class="btn btn-success" type="submit">Cadastrar</button>
				</div>
			</form>
		</div><!-- .col -->
	</div><!-- .row -->
<% include ../partials/footer %>
