<% include ../templates/header %>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h4 class="card-header">Novo item</h4>
				<div class="card-block">
					<form action="/item/novo" method="post">
						<input type="hidden" name="referer" value="<%= referer %>">
						<div class="btn-group" data-toggle="buttons">
							<p>Tipo</p>
							<label class="btn btn-secondary <%= ('almoxarifado' === opcao) ? 'active' : '' %>">
								<input name="tipo" type="radio" value="almoxarifado" <%= ('almoxarifado' === opcao) ? 'checked="checked"' : '' %>>
								Almoxarifado
							</label>
							<label class="btn btn-secondary <%= ('achados-e-perdidos' === opcao) ? 'active' : '' %>">
								<input name="tipo" type="radio" value="achados-e-perdidos" <%= ('achados-e-perdidos' === opcao) ? 'checked="checked"' : '' %>>
								Achados e perdidos
							</label>
						</div>
						<fieldset class="form-group">
							<label for="novo-item-descricao">Descrição</label>
							<input id="novo-item-descricao" class="form-control" name="descricao" type="text">
						</fieldset>
						<fieldset class="form-group">
							<label for="novo-item-comentario">Comentário</label>
							<textarea id="novo-item-comentario" class="form-control" name="comentario" rows="3"></textarea>
						</fieldset>
						<fieldset class="form-group">
							<label for="novo-item-quantidade">Quantidade</label>
							<input id="novo-item-quantidade" class="form-control" name="quantidade" type="number" value="0">
						</fieldset>
						<br>
						<button class="btn btn-success" type="submit">Cadastrar</button>
					</form>
				</div><!-- .card-block -->
			</div><!-- novo item -->
		</div>
	</div>
<% include ../templates/footer %>
