<tr class="item-info" data-item-id="<%= item.id %>">
	<td class="item-description"><%= item.description %></td>
	<% if ('achados-e-perdidos' === item.type) { %>
		<td><%= item.comment %></td>
		<td style="text-align: center;"><%= item.status %></td>
		<td style="text-align: center;"><%= moment(item.created_at).format('L') %></td>
	<% } else { %>
		<td style="text-align: center;"><%= item.status %></td>
		<td><%= item.amount %></td>
	<% } %>
	<td style="text-align: center;">
		<a class="btn btn-secondary btn-sm item-edit" href="/item/editar/<%= item.id %>">
			<span class="octicon octicon-pencil"></span>
		</a>
		<button class="btn btn-secondary btn-sm item-delete">
			<span class="octicon octicon-trashcan"></span>
		</button>
	</td>
</tr>
