<tr class="item-info" data-item-id="<%= item.id %>">
	<td class="item-description"><%= item.description %></td>

	<% if ('achados_e_perdidos' === item.type) { %>
		<td><p class="item-comment"><%- item.comment %></p></td>
		<td class="text-xs-center"><%= moment(item.created_at).format('L'); %></td>
	<% } else if ('almoxarifado' === item.type){ %>
		<td class="text-xs-right"><%= item.amount %></td>
	<% } %>

	<% if ('Disponível' === item.status) { %>
		<td class="text-xs-center text-success"><%= item.status %></td>
	<% } else if ('Indisponível' === item.status) { %>
		<td class="text-xs-center text-danger"><%= item.status %></td>
	<% } else { %>
		<td class="text-xs-center"><%= item.status %></td>
	<% } %>

	<td class="text-xs-center">
		<a class="btn btn-secondary btn-sm item-edit" href="/item/editar/<%= item.id %>">
			<span class="octicon octicon-pencil"></span>
		</a>
		<a class="btn btn-secondary btn-sm item-delete" href="/item/remover/<%= item.id %>">
			<span class="octicon octicon-trashcan"></span>
		</a>
	</td>
</tr>
